.container {

}

.header {
    background-color: #4A148C;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #fff;
    display: block;
    font-weight: bold;
    font-size: x-large;
    overflow-x: auto;
    padding: 2rem;
    position: sticky;
    scrollbar-width: none;
    top: 0;
}

.header::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1024px) {
    .header {
        font-weight: large;
        padding: 1rem;
    }
}

.header > a {
    padding: .5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.header > a:visited {
    color: unset;
}

.itemDetail {
    background-color: #fff;
    border-radius: .2rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: grid;
    min-height: 200px;
    place-items: center;
}

.itemList {
    display: grid;
    list-style: none;
    padding: 0;
    grid-gap: .5rem;
    grid-template-columns: 1fr 1fr 1fr;
}
